In [1]:
#String based assignment question
#Question number 1
#program to reverse a string

In [2]:
s = input("Enter the string:")
s[::-1]

Enter the string: loose

'esool'

In [ ]:
#Question number 2
#check if a string is a palindrome

s = input("Enter the string:")
if s==s[::-1]:
    print("It is a palindrome")
else:
    print("It is not a palindrome")

Enter the string: efde

It is not a palindrome

In [5]:
#Question number 3
#convert a string to uppercase

s = input("Enter the string:").upper()
s

Enter the string shady

'SHADY'

In [6]:
#Question number 4
#Convert a string to lower case

s = input("Enter the string:").lower()
s

Enter the string: SAJI

'saji '

In [9]:
#Question number 5
#count the number of vowels in a string

s = input("Enter the string:").lower()
a = s.count("a")
e = s.count("e")
i = s.count("i")
o = s.count("o")
u = s.count("u")
vowels = (a + e + i + o + u)
vowels

Enter the string: saji

2

In [14]:
#Question number 6
#count the number of consonants in a string

vowels = ["a","e","i","o","u"]
consonants = 0

s = input("Enter the string:").lower()
for i in s:
    if i not in vowels:
        consonants+=1
print(consonants)

Enter the string: hey

2

In [4]:
#Question number 7
#remove the whitespaces from the string

s = input("Enter the string:")
s.replace(" ","")

Enter the string: " saji "

'"saji"'

In [6]:
#Question number 8
#find the length of the string without using len()

length = 0
s = input("Enter the string:")
for i in s:
    length+=1
print(length)

Enter the string: sajeeth r

9

In [13]:
#Question number 9
#check if a string contains a specific word

string = input("Enter the string:")
word = input("Enter the word:")
if word in string:
        print("Yes,the word is present in the string")
else:
    print("Sorry, the word you entered is not present")

Enter the string: shady
Enter the word: z

Sorry, the word you entered is not present

In [18]:
#Question number 10
#replace a word in a string with another word

string = input("Enter the string:")
word = input("Enter the word you want to replace:")
replace_word = input("Enter the replacement word:")
string.replace(word,replace_word)

Enter the string: shady
Enter the word you want to replace: s
Enter the replacement word: a

'ahady'

In [19]:
#Question 11
#count the occurences of a word in a string

s = input("Enter the string:")
word =  input("Enter the word:")
s.count(word)

Enter the string: elephant
Enter the word: e

2

In [29]:
#Question 12
#find the first occurence of a word in a string
s = input("Enter the string:")
word = input("Enter the word:")
counter = 0
for i in s:
    counter+=1
    if i==word:
        break
print(f"This is the first occurence of the word is in the {counter-1} index")

Enter the string: ant
Enter the word: t

This is the first occurence of the word is in the 2th index

In [40]:
#Question 13
#find the last occurence of a word in a string

s = input("Enter the string:")
word = input("Enter the word:")
counter = 0
for i in s[::-1]:
    counter+=-1
    if i==word:
        break
print(f"This is the last occurence of the word is in the {counter} index")

Enter the string: happy
Enter the word: p

This is the last occurence of the word is in the -2 index

In [43]:
#Question 14
#split a string into list of words

s = input("Enter the string:")
l = []
l.extend(s)
l

Enter the string: hello

['h', 'e', 'l', 'l', 'o']

In [44]:
#Question 15
#join a list of words into string

l = ["hello","world","python"]
s.join(l)

'hellohelloworldhellopython'

In [1]:
#Question 16
#convert a string where words are seperated by spaces to underscores

s = input("Enter the string:")
s.replace(" ","_")

Enter the string: s a j i

's_a_j_i_'

In [8]:
#Question 17
#check if a string starts with specific word or phrase

s = input("Enter the string:")
word = input("Enter the word:")
if word==s[0]:
    print(f"Yes, the string '{s}' starts with the word '{word}' ")
else:
    print(f"No, the string '{s}' doesn't start with the word '{word}' ")

Enter the string: dsds
Enter the word: s

No, the string 'dsds' does'nt start with the word 's'

In [13]:
#Question 18
#check if the string ends with the specific phrase

s = input("Enter the string:")
word = input("Enter the word:")
if word==s[::-1][0]:
    print(f"Yes, the string '{s}' ends with the word '{word}'. ")
else:
     print(f"No, the string '{s}' doesn't end with the word '{word}'. ")

Enter the string: saji
Enter the word: i

Yes, the string 'saji' ends with the word 'i'.

In [10]:
s[::-1]

'ijas'

In [14]:
#Question 19
#Convert string to a title case

s = input("Enter the string:")
s.title()

Enter the string: saji the coder

'Saji The Coder'

In [23]:
#Question 20
#find the longest word in the string

s = input("Enter the string:")
l = s.split()
max = l[0]
for i in range(0,len(l)):
    if len(l[0])<len(l[i]):
        max = (l[i])
print(max)
print(f"The word is '{max}' and the length is {len(max)}. ")

Enter the string: hi my name is slim shady

shady
The word is 'shady' and the length is 5.

In [25]:
#Question 21
#find the shortest word in the string

s = input("Enter the string:")
l = s.split()
min = l[0]
for i in range(0,len(l)):
    if len(l[0])>len(l[i]):
        min = (l[i])
print(max)
print(f"The word is '{min}' and the length is {len(min)}. ")

Enter the string: my neme is

shady
The word is 'my' and the length is 2.

In [1]:
#Question number 22
#Reverse the order of the words in a string

s = input("Enter the string:")
s[::-1]

Enter the string: buu

'uub'

In [9]:
#Question number 23
s = input("Enter the string:")

if s.isalnum():
    print("The string is alphanumeric")
else:
    print("No the string is not alphanumeric")

Enter the string: sdff 12

No the string is not alphanumeric

In [9]:
#Question number 24
#extract all digits from string

l1 = []
l2 = []
s = input("Enter the string:")
l1.extend(s)
for i in l1:
    if i.isnumeric():
        l2.append(int(i))
print(f"The numbers in the string are {l2}")

Enter the string: 12345dasgfg

[1, 2, 3, 4, 5]

In [12]:
#Question number 25
#extract all alphabets from the given string

l1 = []
l2 = []
s = input("Enter the string:")
l1.extend(s)
for i in l1:
    if not i.isnumeric(): 
        l2.append(i)
print(f"The alphabets in the string are {l2}")

Enter the string: the name is shady12334444

The alphabets in the string are ['t', 'h', 'e', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 's', 'h', 'a', 'd', 'y']

In [14]:
#Question number 26
#count the number of uppercase letters in the string

s = input("Enter the string:")
counter = 0
for i in s:
    if i.isupper():
        counter+=1
print(counter)

Enter the string: SHady

2

In [15]:
#Question number 27
#count the number of lowercase letters in the string

s = input("Enter the string:")
counter = 0
for i in s:
    if i.islower():
        counter+=1
print(counter)

Enter the string: abcdABCD

4

In [4]:
#Question number 28
#swap the case of each character in the string

word = ""
s = input("Enter the string:")
for i in s:
    if i.isupper():
        word+=i.lower()
    else:
        word+=i.upper()
print(f"The case changed word is {word}")

Enter the string: SaJI

sAji

In [6]:
#Question number 29
#remove a particular word from a string

s = input("Enter the string:")
word = input("Enter the word that your want to remove:")
s.replace(word,"")

Enter the string: sajeeth
Enter the word that your want to remove: sajeeth

''

In [31]:
#Question number 30
#check if a string is a valid email address

email_id = ["saji122011@gmail.com","shady@gmail.com"]
email = input("Enter your email id:")
if email in email_id:
    print("The email id is valid")
else:
    print("The email id is not valid")

Enter your email id: asas

The email id is not valid

In [32]:
#Question number 31
#extract the username from an email address string

email_id = input("Enter your email id:")
index = email_id.index("@")
username =email_id[0:index]
print(f"The Username is {username}")

Enter your email id: gfgdf

ValueError: substring not found

In [15]:
#Question number 32
#Extract the domain name from the email address

email_id = input("Enter your email id:")
index = email_id.index("@")+1
domain = email_id[index:]
print(f"The domain is {domain}")

Enter your email id: saji1234@yhoo.com

The domain is yhoo.com

In [17]:
#Question number 33
#replace multiple spaces in a string with a single space

s = input("Enter the string:").split()
" ".join(s)

Enter the string:  "  saji

'" saji'

In [ ]:
#Question number 34
#check if a string is a valid URL

from validators import *

my_url = input("Enter the url:")
valid_url = url(my_url)
if valid_url:
    print("The url is valid")
else:
    print("The url is not valid")

Enter the url: https://google.com

The url is not valid

In [4]:
#Question humber 35
#Extract the protocol (http or https) from a URL string

url = input("Enter the url:")
index = url.index(":")
url[0:index]

Enter the url: https:\\google.com

'https'

In [14]:
#Question number 36
#find the frequency of each character in the string

frequency = {}
s = input("Enter the string:")
for i in s:
    if i in frequency:
        frequency[i]+=1
    else:
        frequency[i] = 1
        
print(frequency)

Enter the string: saa

{'s': 1, 'a': 2}

In [14]:
#Question number 37
#Remove all punctuation from the string

s = input("Enter the string")
punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

for i in s:
    if i in punctuation:
        new = s.replace(i, "")

print(new)

Enter the string my name is !assidjisdjsidjsijsj##

my name is !assidjisdjsidjsijsj

In [16]:
#Question number 38
#Check if a string contains only digits

s = input("Enter the string:")
if s.isdigit():
    print(f"The string {s} only contains digits")
else:
    print(f"The string {s} does not contain only digits")

Enter the string: saji123

The string saji123 does not contain only digits

In [18]:
#Question number 39
#Check if a string only contains alphabets

s = input("Enter the string:")
if s.isalpha():
    print(f"The string {s} only contains alphabets")
else:
    print(f"The string {s} does not contain only alphabets")

Enter the string: 123abcd

The string 123abcd does not contain only alphabets

In [20]:
#Question number 40
#Convert a string to a list of characters
l = []
s = input("Enter the string:")
l.extend(s)
print(l)

Enter the string: saji the man

['s', 'a', 'j', 'i', ' ', 't', 'h', 'e', ' ', 'm', 'a', 'n', ' ']

In [5]:
#Question number 41
#Check if two string are anagrams

s1 = input("Enter the string1:")
s2 = input("Enter the string2:")
if sorted(s1)==sorted(s2):
    print("The strings are anagrams")
else:
    print("The strings are not anagrams")

Enter the string1: as
Enter the string2: ds

The strings are not anagrams

In [10]:
#Question number 42
#Encode a string using a Caesar cipher

alphabets = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

s = input("Enter the string:")
if s.isalpha():
    shift = int(input("Enter the shift:"))
    encode = " "
    for i in s:
        if i in alphabets:
            shifted_index = alphabets.index(i)+shift
            encode+=alphabets[shifted_index]
    print(encode)
else:
    print("Please enter a valid input!")

Enter the string: abc
Enter the shift: 2

 cde

In [11]:
#Question 43
#Decode a Caesar cipher encoded string

alphabets = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

s = input("Enter the string:")
if s.isalpha():
    shift = int(input("Enter the shift:"))
    decode = " "
    for i in s:
        if i in alphabets:
            shifted_index = alphabets.index(i)-shift
            decode+=alphabets[shifted_index]
    print(decode)
else:
    print("Please enter a valid input!")

Enter the string: cde
Enter the shift: 2

 abc

In [12]:
#Question 44
#Find the most frequent word in a string

frequency = {}
s = input("Enter the string:")
for i in s:
    if i in frequency:
        frequency[i]+=1
    else:
        frequency[i]=1
max = 0
for i in frequency:
    if frequency[i]>max:
        word = i 
        max = frequency[i]
print(f"The most frequently occuring word is '{word}' and the frequency is {max} ")

Enter the string: eaat

The most frequently occuring word is 'a' and the frequency is 2

In [13]:
#Question 45
#Find all unique words in a string

s = input("Enter the string:").split(" ")
unique_words = []
for i in s:
    if i not in unique_words:
        unique_words.append(i)
print(unique_words)

Enter the string: dfdfd

['dfdfd']

In [9]:
#Question 46
#count the number of syllables in a string

word = input("Enter the word:")
syllables = word.split("-")
print(len(syllables))

Enter the word: ter-mi-nator

3

In [10]:
#Question 47
#Check if a string contains any special characters

s = input("Enter the string:")
if s.isalnum():
    print("The string has no special characters")
else:
    print("The string has special characters")

Enter the string: ab123

The string has no special characters

In [5]:
#Question 48
#remove the nth word from the string

s = input("Enter the string:")
n = int(input("Enter the value of n:"))
first_part = s[:n]
last_part = s[n+1:]
first_part + last_part

Enter the string: sajeeth
Enter the value of n: 4

'sajeth'

In [13]:
#Question 49
#insert a word at the nth position of the string

s = input("Enter the string:")
n = int(input("Enter the value of n:"))
word = input("Enter the word:")

replaced_string = s.replace(s[n],word)                        
print(replaced_string)

Enter the string: aardvark
Enter the value of n: 7
Enter the word: t

aardvart

In [21]:
#Question 50
#convert a csv strings into list of lists

import csv
l = []
with open("Untitled.csv","r") as file:
    csv_reader = csv.reader(file)
    for i in csv_reader:
        l.append(i)
new_list = list(l)

<_csv.reader object at 0x7fc8d00d4cf0>

In [22]:
#LIST BASED PROBLEMS
#Question 1
# Create a list with integers from 1 to 10

number_list = []
for i in range(1,11):
    number_list.append(i)
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
#Question 2
# Find the length of a list without using the `len()` function

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
counter = 0
for i in sample_list:
    counter+=1
print(counter)

10

In [32]:
#Question 3
# Append an element to the end of a list

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = input("Enter the element you want to add:")    
sample_list.append(element)
print(sample_list)

Enter the element you want to add: 23

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '23']

In [33]:
#Question 4
# Insert an element at a specific index in a list

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = input("Enter the element you want to insert:")

index = int(input("Enter the index you want to enter:"))
if index>len(sample_list)-1:
    print("INVALID INDEX PLEASE ENTER A VALID ONE")
else: 
    sample_list.insert(index,element)
    print(sample_list)

Enter the element you want to insert: 34
Enter the index you want to enter: 20

INVALID INDEX PLEASE ENTER A VALID ONE

In [41]:
#Question 5
# Remove an element from a list by its value

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = int(input(f"Enter the value of the element you want to remove\n{sample_list}:"))
if element in sample_list:
    sample_list.remove(element)
    print(sample_list)
else:
    print("The element you want to remove is not present")

Enter the value of the element you want to remove
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]: 10

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
#Question 6
# Remove an element from a list by its index

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = int(input("Enter the index of the element you want to remove:"))
if index<= len(sample_list)-1: 
    sample_list.pop(index)
    print(sample_list)
else:
    print("Enter a valid index")

Enter the index of the element you want to remove: -1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
#Question 7
# Check if an element exists in a list

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = int(input("Enter the element:"))
if element in sample_list:
    print("The element exists in the list")
else:
    print("The element does not exist in the list")

Enter the element: 11

The element does not exist in the list

In [73]:
#Question 8
# Find the index of the first occurrence of an element in a list

sample_list = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
element = input("Enter the element:")
if element in sample_list: 
    for i in sample_list:
        if i==element:
            print(f"The first occurence of the element {i} is in the {sample_list.index(i)} index.")
            break
else:
    print("Your input is Invalid!")

Enter the element: z

The first occurence of the element z is in the 25 index.

In [78]:
#Question 9
# Count the occurrences of an element in a list

sample_list = [1,1,2,2,3,5,5,6,9,89,23,23,1,23]
element = int(input("Enter the element:"))
if element in sample_list:
    count = sample_list.count(element)
    print(count)
else:
    print("Your input is Invalid!")

Enter the element: 12020290909090280808080808

Your input is Invalid!

In [79]:
#Question 10
# Reverse the order of elements in a list

sample_list = ['my','name','is', 'sajeeth']
sample_list[::-1]

['sajeeth', 'is', 'name', 'my']

In [97]:
#Question 11
# Sort a list in ascending order

l = [3,5,9,1,91,4,102,5,67]
l.sort()
print(l)

[1, 3, 4, 5, 5, 9, 67, 91, 102]

In [102]:
#Question 12
# Sort a list in descending order

l = [3,5,9,1,91,4,102,5,67]
l.sort(reverse=True)
print(l)

[102, 91, 67, 9, 5, 5, 4, 3, 1]

In [108]:
#Question 13
# Create a list of even numbers from 1 to 20

for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [109]:
#Question 14
# Create a list of odd numbers from 1 to 20

for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [110]:
#Question 15
# Find the sum of all elements in a list

l = [3,5,9,1,91,4,102,5,67]

total_sum = 0

for i in l:
    total_sum+=i
print(total_sum)

287

In [144]:
#Question 16
# Find the maximum value in a list.

l = [3,5,9,1,91,4,5,67,197]

max = l[0]

for i in range(0,len(l)):
    if l[i]>max:
        max=l[i]
print(f"The maximum value is {max}")

The maximum value is 197

In [145]:
#Question 17
# Find the minimum value in a list

l = [5,9,91,4,102,5,67,197]

min = l[0]

for i in range(0,len(l)-1):
    if l[i]<min:
        min=l[i]
print(f"The minimum value is {min}")

The minimum value is 4

In [146]:
#Question 18
# create squares of numbers from 1 to 10

for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [168]:
#Question 19
# Create a list of random numbers

import random

random_list = []

n = int(input("How many random numbers do you want:"))

for i in range(0,n):
    random_generator = random.randint(1,100)
    random_list.append(random_generator)
print(f"The list of random numbers are {random_list}")

How many random numbers do you want: 3

The list of random numbers are [71, 30, 8]

In [3]:
#Question 20
# remove duplicates from a list
l = [3,5,5,3,3,9,1,91,4,5,67,197]
s = set(l)

print(list(s))

[1, 3, 4, 5, 67, 197, 9, 91]

In [7]:
#Question 21
# Find the common elements between two lists.

l1 = [3,5,5,3,3,9,1,91,4,5,67,197]
l2 = [3,5,7,11,23,1,67]
common = []

for i in set(l1):
    if i in set(l2):
        common.append(i)
print(f"The common elements are {common}")

The common elements are [1, 3, 5, 67]

In [9]:
#Question 22
#Find the difference between two lists.

l1 = [3,5,5,3,3,9,1,91,4,5,67,197]
l2 = [3,5,7,11,23,1,67]
difference = []

for i in set(l1):
    if i not in set(l2):
        difference.append(i)
print(f"The different elements are {difference}")

The different elements are [4, 197, 9, 91]

In [18]:
#Question 23
# Merge two lists

l1 = [3,5,5,3,3,9,1,91,4,5,67,197]
l2 = [1,2,3,4]

merged = l1 + l2
print(merged)

[3, 5, 5, 3, 3, 9, 1, 91, 4, 5, 67, 197, 1, 2, 3, 4]

In [20]:
#Question 24
# Multiply all elements in a list by 2

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = []

for i in sample_list:
    new_list.append(i*2)
    
print(f"The original list is {sample_list}\nThe multiplied list is {new_list}")

The original list is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The multiplied list is [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
#Question 25
# Filter out all even numbers from a list

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = []

for i in sample_list:
    if i%2==0:
        filtered_list.append(i)
print(F"The original list is {sample_list}\nThe even num list is {filtered_list}")

The original list is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The even num list is[2, 4, 6, 8, 10]

In [31]:
#Question 26
# Convert a list of strings to a list of integers

sample_list = ['1', '2', '3', '4', '5', '6','7', '8', '9', '10']

int_list = []

for i in sample_list:
    int_list.append(int(i))
    
print(f"The list of integers are {int_list}")
print(type(int_list[0]))

The list of integers are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'int'>

In [32]:
#Question 27
# Convert a list of integers to a list of strings

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

str_list = []

for i in sample_list:
    str_list.append(str(i))
    
print(f"The list of strings are {str_list}")
print(type(str_list[0]))

The list of strings are ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
<class 'str'>

In [16]:
#Question 28
# flatten a nested list

sample_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = []

for nested_list in sample_list:
    for num in nested_list:
        flat_list.append(num)
print(f"The flattened list is {flat_list}")

The flattened list is [1, 2, 3, 4, 5, 6, 7]

In [6]:
#Question 29
# Create a list of the first 10 Fibonacci numbers

t = []
n = int(input("Enter the value of n:"))
n1,n2 = 0,1
total = 0
if n<=0:
    print("please enter a number greater than 0")
else:
    for i in range(0,n):
        n1=n2
        n2=total
        total = n1+n2
        t.append(total)
print(t)

Enter the value of n: 5

[1, 1, 2, 3, 5]

In [14]:
#Question 30
# check if a list is sorted

sample_list = [1, 20, 30, 4, 5, 6, 7, 8, 9, 10]
flag = 0
sample_list1 = sample_list[:]
sample_list1.sort()
if sample_list == sample_list1:
    
    flag = 1
    
if flag == 1:
    print(f"The list is sorted\n{sample_list1}")
else:
    print(f"The list is not sorted\n{sample_list1}")

The list is not sorted
[1, 4, 5, 6, 7, 8, 9, 10, 20, 30]

In [7]:
#Question 31
# Rotate a list to the left by `n` positions.

l = [4, 5, 6, 1, 2, 3]

n = int(input("Enter the value of n:"))

l =  l[0:len(l)-n] + l[len(l)-n:len(l)]
print(l)

Enter the value of n: 3

[4, 5, 6, 1, 2, 3]

In [6]:
#Question 32
# Rotate a list to the right by `n` positions.

l = [1, 2, 3, 4, 5, 6]

n = int(input("Enter the value of n:"))

l = l[len(l)-n:len(l)] + l[0:len(l)-n]
print(l)

Enter the value of n: 3

[4, 5, 6, 1, 2, 3]

In [19]:
#Question 33
# Create a list of prime numbers up to 50.
prime_list = []
for num in range(2,50):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        prime_list.append(num)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [8]:
#Question 34
# Split a list into chunks of size `n`

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
start = 0
end = len(l)
n = int(input("Enter the value of n:"))
for i in range(start,end,n):
    x=i
    print(l[x:x+n])

Enter the value of n: 3

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [13]:
#Question 35
# Find the second largest number in a list

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

largest = l[0]
for i in range(0,len(l)):
    if l[i]>l[0]:
        largest = l[i]
l.remove(largest)
print(f"The second largest element in the list is {max(l)}")

The second largest element in the list is 8

In [28]:
#Question 36
# Replace every element in a list with its square

l = [1, 4, 3, 4, 5, 6, 7, 8, 9]
for i in range(0,len(l)):
    l[i] = l[i]*l[i]
print(f"The squared list is {l}")

The squared list is [1, 16, 9, 16, 25, 36, 49, 64, 81]

In [31]:
#Question 37
# Convert a list to a dictionary where list elements become keys and their indices become values.

l = ['a','b','c','d']
new_dict = {}

for i in range(0,len(l)):
    new_dict[l[i]] = l.index(l[i])
    
print(f"The dictionary is {new_dict}")

The dictionary is {'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [42]:
#Question 38
# Shuffle the elements of a list randomly

import random

l = [1, 4, 3, 4, 5, 6, 7, 8, 9]
random.shuffle(l)
print(l)

[6, 1, 9, 4, 7, 8, 5, 3, 4]

In [11]:
#Question 39
# Create a list of the first 10 factorial numbers

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fact_list = []

for num in l:
        fact = 1
        for i in range(1,num+1):
            fact = fact*i
        fact_list.append(fact)
print(f"The factorial of the numbers are {fact_list}")

The factorial of the numbers are [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [20]:
#Question 40
# Check if two lists have at least one element in common
l = ['a','b','c','d']

l2 = ['e','f','g','d']

flag = 0

for element in l:
    if element  in l2:
        flag = 1
if flag==1:
    print(f"There is atleast one element in common that is '{element}'")
else:
    print("There is nothing in common between the lists")

There is nothing in common between the lists

In [24]:
#Question 41
# Remove all elements from a list.

l = ['a','b','c','d']

l.clear()
print(f"The list of elements after clearing: {l}")

The list of elements after clearing: []

In [28]:
#Question 42
# Replace negative numbers in a list with 0

l = [1, 2, -3, 4, 5, 6, -7, -8, 9, 10]
for i in range(0,len(l)):
    if l[i]<0:
        l[i]=0
print(f"The list after replacing the negative numbers with 0 {l}")

The list after replacing the negative numbers with 0 [1, 2, 0, 4, 5, 6, 0, 0, 9, 10]

In [30]:
#Question 43
# Convert a string into a list of words
s = input("Enter the string:")
l = s.split()
print(f"The list of string is {l}")

Enter the string: hello mary

The list of string is ['hello', 'mary']

In [31]:
#Question 44
# Convert a list of words into a string

l = ['hello', 'mary',"peace"]

element = ""

for i in l:
    element+=i
print(element)

hellomarypeace

In [2]:
#Question 45
# Create a list of the first `n` powers of 2

powers_list = []
n = int(input("Enter the value of n:"))
for i in range(1,n+1):
    powers_list.append(2**i)
print(f"The powers list is {powers_list}")

Enter the value of n: 4

The powers list is [2, 4, 8, 16]

In [7]:
#Question 46
# Find the longest string in a list of strings

l = ['hello','my','name','is','sajeeth']
longest = l[0]
for i in range(0,len(l)):
    if len(l[i])>len(longest):
        longest = l[i]
print(f"The longest string is '{longest}'")

The longest string is 'sajeeth'

In [8]:
#Question 47
# Find the shortest string in a list of strings

l = ['hello','my','name','is''sajeeth']
shortest = l[0]
for i in range(0,len(l)):
    if len(l[i])<len(shortest):
        shortest = l[i]
print(f"The shortest string is '{shortest}'")

The shortest string is 'my'

In [10]:
#Question 48
#  Create a list of the first `n` triangular numbers
triangular_numbers = []
total = 0
n = int(input("Enter the value of n:"))

for i in range(1,n):
    total +=i
    triangular_numbers.append(total)
print(triangular_numbers)

Enter the value of n: 10

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [15]:
#Question 49
# Check if a list contains another list as a subsequence

l = [1,3,2,5,6,7,[1,2,3]]
flag = 0
for i in l:
    if type(i)==list:
        flag = 1
if flag == 0:
    print("A subsequent list is not present in the list")
else:
    print("A subsequent list is present in the list")

A subsequent list is present in the list

In [2]:
#Question 50
# Swap two elements in a list by their indices

l = [1,2,3,4]

l[0],l[1]=l[1],l[0]
print(l)

[2, 1, 3, 4]

In [32]:
#Tuple based practice problems
# Question 1
# Create a tuple with integers from 1 to 5
t = ()
for i in range(1,6):
    t+=(i,)
print(t)

(1, 2, 3, 4, 5)

In [9]:
#Question 2
# Access the third element of a tuple

t = (1, 2, 3, 4, 5)
print(f"The third element is {t[2]}")

The third element is 3

In [10]:
#Question 3
# Find the length of a tuple without using the `len()` function

t = (1, 2, 3, 4, 5)
counter = 0
for i in t:
    counter+=1
print(f"The length of the tuple is {counter}")

The length of the tuple is 5

In [18]:
#Question 4
#  Count the occurrences of an element in a tuple

t = (1, 2, 3, 4, 5)

element =int(input("Ehter the element:"))
if element in t:
    count = t.count(element)
    print(f"The number of occurrences of the {element} is {count}") 
else:
    print("element is not in the list")

Ehter the element: 9

Enter a valid element

In [20]:
#Question 5
# Find the index of the first occurrence of an element in a tuple
t = ('a','b','c','d','e','d')

element = input("Enter the element")

for i in t:
    if element in t:
        index = t.index(element)
print(f"The first occurence of the element {element} is in index {index}")

Enter the element d

The first occurence of the element d is in index 3

In [23]:
#Question 6
# Check if an element exists in a tuple.

t = ('a','b','c','d','e','d')

element = input("Enter the element")

if element in t:
    print("Element exists in tuple")
else:
    print("Element doesnt exist in tuple")

Enter the element a

Element exists in tuple

In [25]:
#Question 7
# Convert a tuple to a list.

t = ('a','b','c','d','e','d')
l = list(t)
print(f"The converted tuple into list is {l}")

The converted tuple into list is ['a', 'b', 'c', 'd', 'e', 'd']

In [26]:
#Question 8
# convert a list to a tuple

l = ['a', 'b', 'c', 'd', 'e', 'd']
t = tuple(l)
print(f"The converted list into tuple is {t}")

The converted list into tuple is ('a', 'b', 'c', 'd', 'e', 'd')

In [29]:
#Question 9
# Unpack the elements of a tuple into variables.
t = (1,2,3,4)
a,b,c,d = (1,2,3,4)
print(f"The value of unpacked variables are {a,b,c,d}")

The value of unpacked variables are (1, 2, 3, 4)

In [35]:
#Question 10
# Create a tuple of even numbers from 1 to 10.
t = ()
for i in range(1,11):
    if i%2==0:
        t +=(i,)
print(f"The tuple of even integers is {t}")

The tuple of even integers is (2, 4, 6, 8, 10)

In [34]:
#Question 11
# Create a tuple of odd numbers from 1 to 10
t = ()
for i in range(1,11):
    if i%2!=0:
        t+=(i,)
print(f"The tuple of odd intgers is {t}")

The tuple of odd intgers is (1, 3, 5, 7, 9)

In [2]:
#Question 12
# Concatenate two tuples

t1 = (1,2,3,4)
t2 = (0,9,8,7)
print("The concatenated tuple is",t1+t2)

The concatenated tuple is (1, 2, 3, 4, 0, 9, 8, 7)

In [4]:
#Question 13
# repeat a tuple three times
t1 = (1,2,3,4)
print("The repeated tuple is",t1*3)

The repeated tuple is (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [5]:
#Question 14
# Check if a tuple is empty.

t1 = ()
if len(t1)==0:
    print("The tuple is empty")
else:
    print("Tuple is not empty")

The tuple is empty

In [9]:
#Question 15
# Create a nested tuple

t1 = (1,2,3,4),
t2 = (0,9,8,7),
print("The nested tuples is", t1 + t2)

The nested tuples is ((1, 2, 3, 4), (0, 9, 8, 7))

In [12]:
#Question 16
# Access the first element of a nested tuple.

t = ((1, 2, 3, 4), (0, 9, 8, 7))

print(f"The first element of the nested list is {t[0][0]}")

The first element of the nested list is 1

In [16]:
#Question 17
# Create a tuple with a single element
t=(1,)
print(f"The tuple with one element is {t}")

The tuple with one element is (1,)

In [18]:
#Question 18
#Compare two tuples

t1 = (1,2,3,4)
t2 = (1,2,2,3,5)
common = ()


for i in t1:
    if i in t2:
        common+=(i,)
    elif i not in t2:
        uncommon+=(i,)
print(f"The common elements are {common}")

The common elements are (1, 2, 3)

In [2]:
#Question 19
# Delete a tuple.
t1 = (1,2,3,4)
print(f"Before deletion {t1}")

del(t1)
print(f"After deletion {t1}")

Before deletion (1, 2, 3, 4)

NameError: name 't1' is not defined

In [24]:
#Question 20
# Slice a tuple
t1 = (1,2,3,4)
print(f"The sliced tuple is {t1[0:2]}")

The sliced tuple is (1, 2)

In [26]:
#Question 21
# Find the maximum value in a tuple.

t1 = (1,2,4,56,78,98)
max = t1[0]
for i in range(0,len(t1)):
    if t1[i]>max:
        max = t1[i]
print(f"The maximum value is {max}")

The maximum value is 98

In [28]:
#Question 22
# Find the minimum value in a tuple.

t1 = (1,2,4,56,78,98)
mini = t1[0]
for i in range(0,len(t1)):
    if t1[i]<mini:
        mini = t1[i]
print(f"The maximum value is {mini}")

The maximum value is 1

In [29]:
#Question 23
# Convert a string to a tuple of character
s = input("Enter a string:")
t = ()
for i in s:
    t+=(i,)
print(f"The tuple of characters {t}")

Enter a string: saji

The tuple of characters ('s', 'a', 'j', 'i')

In [30]:
#Question 24
# Convert a tuple of characters to a string

t = ('s', 'a', 'j', 'i')
s = ""
for i in t:
    s+=i
print(f"The string of characters is {s}")

The string of characters is saji

In [32]:
#Question 25
# Create a tuple from multiple data types
integer = (1,2,3,4)
string = ('a','b','c','d')
boolean = (True, False)

combined_tuple = integer + string +boolean
print(f"The combined tuple is {combined_tuple}")

The combined tuple is (1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False)

In [3]:
#Question 26
# Check if two tuples are identical
t1 = (1,2,3,4)
t2 = (6,7,8,20)
if t1==t2:
    print("The  tuples are identical")
else:
    print("The tuples are not identical")

the tuples are not identical

In [51]:
#Question 27
# Sort the elements of a tuple

sorted_tuple = ()

t = (1,3,91,7,11)

t1 = sorted(t)
print(f"The sorted tuple is{tuple(t1)}")

The sorted tuple is(1, 3, 7, 11, 91)

In [12]:
#Question 28
# Convert a tuple of integers to a tuple of string

t = (1,3,5,7,11)

t1 = ()

for i in t:
    t1+=(str(i),)
    
print(f"The tuple of strings is {t1}")

The tuple of strings is ('1', '3', '5', '7', '11')

In [13]:
#Question 29
# Convert a tuple of strings to a tuple of integers.

t = ('1', '3', '5', '7', '11')
t1 = ()

for i in t:
    t1+=(int(i),)
    
print(f"The tuple of lists is {t1}")

The tuple of lists is (1, 3, 5, 7, 11)

In [14]:
#Question 30
# Merge two tuples
t1 = (1,2,3,4)
t2 = (6,7,8,9)
print("The merged tuple is", t1 + t2)

The merged tuple is (1, 2, 3, 4, 6, 7, 8, 9)

In [46]:
#Question 31
# Flatten a nested tuple

nested_tuple = ([5, 6], [6, 7, 8, 9], [3])

flattened_tuple = tuple(sum(nested_tuple, []))
print(flattened_tuple)

(5, 6, 6, 7, 8, 9, 3)

In [65]:
#Question 32
# Create a tuple of the first 5 prime numbers
t = ()
start = int(input("Enter the starting value"))


for num in range(start, start+7):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            t+=num,
        
print(t)

Enter the starting value 2

(2, 3, 5, 7)

In [ ]:
#Question 33
# Check if a tuple is a palindrome

t = (1,2,1)
if t==t[::-1]:
    print("The tuple is a palindrome")
else:
    print("The tuple is not a palindrome")

In [24]:
#Question 34
# Create a tuple of squares of numbers from 1 to 5
t = ()
for i in range(1,6):
    t+=(i**2,)
print(f"The tuple with squares of numbers form 1 to 5 {t}")

The tuple with squares of numbers form 1 to 5 (1, 4, 9, 16, 25)

In [29]:
#Question 35
# Filter out all even numbers from a tuple

t = (1,2,3,4,5,6,7,8)
t1 = ()
for i in t:
    if i%2==0:
        t1+=(i,)
print(f"The tuple of filtered even numbers is {t1}")

The tuple of filtered even numbers is (2, 4, 6, 8)

In [30]:
#Question 36
# Multiply all elements in a tuple by 2

t = (1,2,3,4,5,6,7,8)
t1 = ()
for i in t:
    t1+=(i*2,)
print(f"The tuple with the elements multiplied by 2 {t1}")

The tuple with the elements multiplied by 2 (2, 4, 6, 8, 10, 12, 14, 16)

In [37]:
#Question 37
# Create a tuple of random numbers
import random
t = ()
for i in range(0,10):
    random_number = random.randint(1,100)
    t+=(random_number,)
print(F"The tuple of random numbers is {t}")

The tuple of random numbers is (76, 40, 97, 94, 47, 27, 31, 54, 84, 42)

In [52]:
#Question 38
# Check if a tuple is sorted

t = (1,3,91,7,11)

flag = 0

for i in range(1,len(t)):
    if t[i]<t[i-1]:
        flag = 1
if flag==1:
    print("The tuple is not sorted")
else:
    print("The tuple is sorted")

The tuple is not sorted

In [71]:
#Question 39
# Rotate a tuple to the left by `n` positions

t = (3,2,1,5,6,7)

n = int(input("Enter the n"))

x = t[0:len(t)-n]+t[len(t)-n:len(t)] 
print(x)

Enter the n 3

(3, 2, 1, 5, 6, 7)

In [69]:
#Question 40
# Rotate a tuple to the right by `n` positions

t = (3,2,1,5,6,7)
n = int(input("Enter the n"))
x = t[len(t)-n:len(t)] + t[0:len(t)-n]
print(x)

Enter the n 3

(5, 6, 7, 3, 2, 1)

In [7]:
#Question 41
# Create a tuple of the first 5 Fibonacci numbers

t=()
n = int(input("Enter the value of n:"))
num1 = 0
num2 = 1
next_number = num2 
count = 0
 
while count <= n:
    t+=(next_number,)
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print(t)

Enter the value of n: 4

(1, 2, 3, 5, 8)

In [15]:
#Question 42
# Create a tuple from user input.

t = tuple(input("Enter the input"))
print(f"The user inputed tuple is {t}")

Enter the input 6

The user inputed tuple is ('6',)

In [29]:
#Question 43
# swap two elements in a tuple
t = (1,2)
t2 = ()
for i in t[::-1]:
    t2+=i,
print(f"The swapped tuple is {t2} ")

The swapped tuple is (2, 1)

In [31]:
#Question 44
# Reverse the elements of a tuple
t = (1,2,3)
print(f"Reversed tuple is {t[::-1]}")

Reversed tuple is (3, 2, 1)

In [38]:
#Question 45
# Create a tuple of the first `n` powers of 2

t = ()

n = int(input("Enter the value of n:"))

for i in range(1,n+1):
    t+=(2**i,)
    
print(f"The first n powers of 2 is {t}")

Enter the value of n: 3

The first n powers of 2 is (2, 4, 8)

In [42]:
#Question 46
# Find the longest string in a tuple of strings

t = ('my', 'name', 'is')

longest = t[0]
for i in range(0,len(t)):
    if len(t[i])>len(longest):
        longest = t[i]
print(f"The longest string in the tuple is '{longest}'")

The longest string in the tuple is name

In [44]:
#Question 47
# Find the shortest string in a tuple of strings

t = ('my', 'name', 'is')

shortest = t[0]
for i in range(0,len(t)):
    if len(t[i])<len(longest):
        shortest = t[i]
print(f"The shortest string in the tuple is '{shortest}'")

The longest string in the tuple is 'is'

In [45]:
#Question 48
# Create a tuple of the first `n` triangular numbers

triangular_numbers = ()
total = 0
n = int(input("Enter the value of n:"))

for i in range(1,n):
    total +=i
    triangular_numbers+=(total,)
print(triangular_numbers)

Enter the value of n: 5

(1, 3, 6, 10)

In [47]:
#Question 49
# Check if a tuple contains another tuple as a subsequence


t = (1,3,2,5,6,7,(1,2,3))
flag = 0
for i in t:
    if type(i)==tuple:
        flag = 1
if flag == 0:
    print("A subsequent tuple is not present in the tuple")
else:
    print("A subsequent tuple is present in the tuple")

A subsequent tuple is present in the tuple

In [53]:
#Question 50
# Create a tuple of alternating 1s and 0s of length `n`
t = ()
n = int(input("Enter the length of the tuple:"))
for i in range(0,n):
    if i%2==1:
        t+=1,
    else:
        t+=0,

print(t)

Enter the length of the tuple: 5

(0, 1, 0, 1, 0)

In [55]:
#Set based practice problems
#Question1
# Create a set with integers from 1 to 5.

s = set()
for i in range(1,6):
    s.add(i)
print(f"The set of integers is {s}")

The set of integers is {1, 2, 3, 4, 5}

In [57]:
#Question 2
# Add an element to a set.

s = {1, 2, 3, 4, 5}
element = input("Enter the element you want to add:")
s.add(element)
print(f"The new set is {s}")

Enter the element you want to add: e

The new set is {1, 2, 3, 4, 5, 'e'}

In [58]:
#Question 3
# Remove an element from a set.

s = {1, 2, 3, 4, 5, 'e'}
element = input("Enter the element you want to remove")
s.remove(element)
print(f"The set after removing {s}")

Enter the element you want to remove e

The set after removing {1, 2, 3, 4, 5}

In [60]:
#Question 4
# Check if an element exists in a set.

s = {1, 2, 3, 4, 5}
element = int(input("Enter the element:"))
if element in s:
    print("The element you entered is in the set")
else:
    print("The element you entered is not in the set")

Enter the element: 9

The element you entered is not in the set

In [61]:
#Question 5
# Find the length of a set without using the `len()` function.

s = {1, 2, 3, 4, 5}
counter = 0
for i in s:
    counter +=1
print(f"The length of the set is {counter}")

The length of the set is 5

In [63]:
#Question 6
# Clear all elements from a set

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [66]:
#Question 7
# Create a set of even numbers from 1 to 10.
s = set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print(f"The set of even numbers is {s}")

The set of even numbers is {2, 4, 6, 8, 10}

In [67]:
#Question 8
# Create a set of odd numbers from 1 to 10.
s = set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print(f"The set of odd numbers is {s}")

The set of odd numbers is {1, 3, 5, 7, 9}

In [68]:
#Question 9
# Find the union of two sets

a = {1,2,3}
b = {4,5,6}

print("a U b:", a.union(b))

a U b: {1, 2, 3, 4, 5, 6}

In [70]:
#Question 10
# Find the intersection of two sets

a = {1,2,3}
b = {4,5,6}
print("a ∩ b:", a.intersection(b))

a ∩ b: set()

In [73]:
#Question 11
# Find the difference between two sets.

a= {3,5,6,7}
b = {1,2,3,4,5,8,9}
print (a.difference(b))
print (b.difference(a))

{6, 7}
{1, 2, 4, 8, 9}

In [75]:
#Question 12
# Check if a set is a subset of another set.
a = {1, 2, 3}
b = {1, 2, 3, 4, 5}

subset = a.issubset(b)
if subset:
    print("a is a subset of b")
else:
    print("a is not a subset of b")

a is a subset of b

In [76]:
#Question 13
# Check if a set is a superset of another set

a = {1, 2, 3}
b = {1, 2, 3, 4, 5}

superset = a.issuperset(b)
if superset:
    print(" a is superset of b")
else:
    print("a is not a superset of b")

a is not a superset of b

In [78]:
#Question 14
# Create a set from a list

l = [1,2,3,4]
s = set(l)
print(s)

{1, 2, 3, 4}

In [79]:
#Question 15
# Convert a set to a list

s = {1, 2, 3, 4}
l = list(s)
print(l)

[1, 2, 3, 4]

In [83]:
#Question 16
# Remove a random element from a set

import random

s = {1, 2, 3, 4}
random_element = random.randint(1,len(s))
s.remove(random_element)
print(f"The removed element is {random_element} new set is {s}")

The removed element is 3 new set is {1, 2, 4}

In [92]:
#Question 17
# Pop an element from a set

s = {1, 2, 3, 4}
s.pop()
print(f"The set after pop is {s}")

The set after pop is {2, 3, 4}

In [93]:
#Question 18
#  Check if two sets have no elements in common

a = {1,2,3,4}
b = {7,8,9}

flag = 0

for i  in a:
    if i in b:
        flag = 1
        
if flag ==1:
    print("There are elements in common")
else:
    print("There are no elements in common")

There are no elements in common

In [94]:
#Question 19
# Find the symmetric difference between two sets.

a = {1,2,3,4}
b = {7,8,9,1,2}

print(f"The symmetric difference {a.symmetric_difference(b)}")

The symmetric difference {3, 4, 7, 8, 9}

In [97]:
#Question 20
# Update a set with elements from another set.

a = {1,2,3,4}
b = {7,8,9,1,2}
a.update(b)
print(f"The updated set is {a}")

The updated set is {1, 2, 3, 4, 7, 8, 9}

In [103]:
#Question 21
# Create a set of the first 5 prime numbers.

 
prime_list = set()
for num in range(2,13):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        prime_list.add(num)
print(prime_list)

{2, 3, 5, 7, 11}

In [106]:
#Question 22
# Check if two sets are identical.

a = {1,2,3,4}
b = {1,2,3,8}
x = a.symmetric_difference(b)
if x==set():
    print("The two set are identical")
else:
    print("The sets are not identical")

The sets are not identical

In [107]:
#Question 23
# Create a frozen set


colors = frozenset(["red", "white", "orange"])
print(colors)
colors.append("blue")
print(colors)

frozenset({'orange', 'white', 'red'})

AttributeError: 'frozenset' object has no attribute 'append'

In [108]:
#Question 24
# Check if a set is disjoint with another set
a = {1,2,3,4}
b = {7,8,9}

flag = 0

for i  in a:
    if i in b:
        flag = 1
        
if flag ==1:
    print("There are elements in common so it is not disjoint set ")
else:
    print("There are no elements in common so it is a disjoint set")

There are no elements in common so it is a disjoint set

In [109]:
#Question 25
# Create a set of squares of numbers from 1 to 5

a = set()
for i in range(1,6):
    a.add(i**2)
print(f"The square of numbers from 1 to 5 are {a}")

The square of numbers from 1 to 5 are {1, 4, 9, 16, 25}

In [110]:
#Question 26
# Filter out all even numbers from a set.

even = set()
a = {1,2,3,4,6,8,9,34,33}
for i in a:
    if i%2==0:
        even.add(i)
print("The even numbers are",even)

The even numbers are {2, 34, 4, 6, 8}

In [112]:
#Question 27
# Multiply all elements in a set by 2.

multiplied = set()
a = {1,2,3,4,6,8,9,34,33}
for i in a:
    multiplied.add(i*2)
print(multiplied)

{2, 66, 4, 68, 6, 8, 12, 16, 18}

In [113]:
#Question 28
# Create a set of random numbers.
import random

r_num = set()
for i in range(0,10):
    random_numbers = random.randint(0,100)
    r_num.add(random_numbers)
print(f"The randomised set is {r_num}")

The randomised set is {65, 2, 98, 7, 75, 53, 54, 58, 95}

In [114]:
#Question 29
# Check if a set is empty
a = set()
if len(a)==0:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [121]:
#Question 30
# Create a nested set 

a = {1,2,3,4,6,8,9,34,33}
b= frozenset([1,2])
a.add(b)
print(a)

{1, 2, 3, 4, 34, 6, 33, 8, 9, frozenset({1, 2})}

In [122]:
#Question 31
# Remove an element from a set using the discard method

a = {1,2,3,4,6,8,9,34,33}
a.discard(2)
print(a)

{1, 3, 4, 34, 6, 33, 8, 9}

In [123]:
#Question 32
# Compare two sets.
a = {1,2,3,4,6,8,9,34,33}
b = {5,6,7,8,9}
if a==b:
    print("The sets are equal")
else:
    print("The sets are not equal")

The sets are not equal

In [124]:
#Question 33
#Create a set from a string.

a = set()
s = input("Enter the string")
for i in s:
    a.add(i)
print(a)

Enter the string sajeeth

{'t', 'e', 'a', 'h', 'j', 's'}

In [125]:
#Question 34
# Convert a set of strings to a set of integers.

integer_set = set()
s = {'1','2','3','4','5'}
for i in s:
    integer_set.add(int(i))
print(integer_set)

{1, 2, 3, 4, 5}

In [127]:
#Question 35
#Convert a set of integers to a set of strings.
s = {1, 2, 3, 4, 5}
string_set = set()
for i in s:
    string_set.add(str(i))
print(string_set)

{'3', '5', '2', '4', '1'}

In [128]:
#Question 36
# Create a set from a tuple.
t = (1,2,3,4)
s =set(t)
print(s)

{1, 2, 3, 4}

In [129]:
#Question 37
# Convert a set to a tuple.
s = {1, 2, 3, 4}
t =tuple(s)
print(t)

(1, 2, 3, 4)

In [131]:
#Question 38
# Find the maximum value in a set.
s = {1, 2, 3, 4}
maxi = 0
for i in s:
    if i>maxi:
        maxi = i
print("The maximum value is",maxi)

The maximum value is 4

In [133]:
#Question 39
#Find the minimum value in a set.

s = {1, 2, 3, 4}
mini = 1
for i in s:
    if i<mini:
        mini = i
print("The maximum value is",mini)

The maximum value is 1

In [136]:
#Question 40
# Create a set from user input.
a = input("Enter the input")
set(a)

Enter the input 4,5,6

{',', '4', '5', '6'}

In [138]:
#Question 41
# Check if the intersection of two sets is empty
a = {1,2,3,4}
b = {5,6,7,8}
x = a.intersection(b)
if x==set():
    print("The intersection of the sets is empty")
else:
    print(f"The intersection is {x}")

The intersection of the sets is empty

In [8]:
#Question 42
# Create a set of the first 5 Fibonacci numbers.

s = set()
n = int(input("Enter the value of n:"))
n1,n2 = 0,1
total = 0
if n<=0:
    print("please enter a number greater than 0")
else:
    for i in range(0,n):
        n1=n2
        n2=total
        total = n1+n2
        s.add(total)
print(s)

Enter the value of n: 5

{1, 2, 3, 5}

In [4]:
#Question 43
# Remove duplicates from a list using sets.

l = [1,2,3,4,5,6,1,2,3,43,2,33,44]

print(f"The list without removing duplicates {l}")

x = set(l)
print("The list after removing duplicates",list(x))

The list without removing duplicates [1, 2, 3, 4, 5, 6, 1, 2, 3, 43, 2, 33, 44]
The list after removing duplicates [1, 2, 3, 4, 5, 6, 33, 43, 44]

In [6]:
#Question 44
# Check if two sets have the same elements, regardless of their count.

a = {1,2,3,4}
b = {1,2,3,4,4}

if a.issubset(b):
    print("The sets have same elements")
else:
    print("The sets doesnt have same elements")

The sets have same elements

In [14]:
#Question 45
# Create a set of the first `n` powers of 2

squre_set = set()
n = int(input("Enter the value of n:"))


for i in range(1,n+2):
    squre_set.add(2**i)
print(f"The set with n powers of two is {squre_set}")

Enter the value of n: 4

The set with n powers of two is {32, 2, 4, 8, 16}

In [18]:
#Question 46
# Find the common elements between a set and a list.

l = [1,2,3,4,5,6]
s = {1,2,3,4,33,44}

x = s.intersection(set(l))
print(f"The common elements are {x}")

The common elements are {1, 2, 3, 4}

In [19]:
#Question 47
# Create a set of the first `n` triangular numbers

triangular_numbers = set()
total = 0
n = int(input("Enter the value of n:"))

for i in range(1,n):
    total +=i
    triangular_numbers.add(total)
print(triangular_numbers)

Enter the value of n: 5

{1, 10, 3, 6}

In [21]:
#Question 48
# Check if a set contains another set as a subset.

setA = {1, 2, 3, 4, 5}
setB = {1, 2, 3}

if setB.issubset(setA):
    print("The set is a subset of the set")
else:
    print("The set is not a subset of the set")

The set is a subset of the set

In [30]:
#Question 49
# Create a set of alternating 1s and 0s of length `n`.

s = set()
n = int(input("Enter the value n:"))

for i in range(0,n):
    if i%2==0:
        s.add(1)
    else:
        s.add(0)
print(s)

Enter the value n: 6

{0, 1, '1', '0'}

In [28]:
#Question 50
# Merge multiple sets into one.

s = {1,2,3,4}
s1 = {'a','b','c','d'}

x = s.union(s1)
print(x)

{1, 2, 3, 4, 'a', 'd', 'c', 'b'}